@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: all 1.8s;
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
}

body {

    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    position: relative;

}


.headerall {
    width: 100%;
    background-color: #f7fdfd;
    /* display: flex; */
    /* flex-direction: column; */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 900;
    margin: auto;
}

.headerup {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

h1 {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.headercenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: blueviolet; */
    height: 150px;

}

.headerimg1 {
    width: 150px;
    margin-left: 50px;

}

.headerimg2 {
    width: 65%;
    height: 150px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.headerimg3 {
    width: 150px;
    /* padding-bottom: 10px; */
    margin-right: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
}



.headerdown {
    /* background-color: blanchedalmond; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerdown span {
    display: inline-block;
    /* height: 80%; */
    width: 150px;
    background-color: bisque;
    text-align: center;
    align-content: center;
    margin: 2px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}

main {
    position: relative;
    padding-top: 250px;
}

section {
    /* height: 100vh; */
    width: 80%;
    border-radius: 20px;
    margin: 3px;
    position: relative;
    scroll-margin-top: 255px;

}

.section1 {

    background-color: lightpink;

}

.section2 {

    background-color: darkorange;

}

.section3 {

    background-color: khaki;

}

.section4 {

    background-color: rgb(55, 196, 118);

}

.section5 {

    background-color: rgb(92, 62, 228);
    top: 0px;
    left: 0px;
}

.bodycenter {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
}



.bodysiderigth {
    height: 100%;
    width: 15%;
    background-color: darkcyan;
    position: fixed;
    right: 50px;
    top: 270px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.bodysiderigth span {
    padding: 1px;
    display: block;
    height: 50px;
    width: 190px;
    background-color: rgb(205, 224, 26);
    text-align: center;
    align-content: center;
    margin-top: 5px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}

.titlepic {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}





.textabout {
    text-align: justify;
    line-height: 30px;
    justify-content: center;
    text-justify: inter-word;
    padding: 20px;
}


iframe {
    height: 300px;
    width: 100%;
    margin: auto;

}

footer {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypic {
    padding: 5px;
    /* display: inline; */
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 20PX;
    -webkit-border-radius: 20PX;
    -moz-border-radius: 20PX;
    -ms-border-radius: 20PX;
    -o-border-radius: 20PX;
}

a {
    text-decoration: none;
    background-color: bisque;
    text-align: center;
    align-content: center;
    margin: 2px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}

a:hover {
    background-color: cornflowerblue;
    opacity: .8;
}




footer {
    width: 80%;

}

i {
    font-size: 20px;
    background-color: #f8f0f0;
    color: red;
    height: 30px;
    width: 30px;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

footer a {
    background-color: black;
    height: 35px;
    width: 35px;
    text-align: center;
    align-content: center;
}


@media(max-width:500px) {


    .headerall {
        max-width: 500px;
        position: relative;
        margin: auto;
    }

    .headerup {
        max-width: 500px;
        padding: 1px;
        margin: 1px;
    }

    h1 {
        font-family: "Noto Kufi Arabic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .headercenter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        /* background-color: blueviolet; */
        height: 80px;
    }

    .headerimg1 {
        width: 15%;
        margin-left: 50px;

    }

    .headerimg2 {
        width: 65%;
        height: 80px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .headerimg3 {
        width: 15%;
        /* padding-bottom: 10px; */
        height: 80px;
        margin-right: 50px;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .headerdown {
        /* background-color: blanchedalmond; */
        height: 30px;
        margin-top: 5px;

    }

    .headerdown span {

        width: 70px;
        background-color: bisque;
        text-align: center;
        align-content: center;
        margin: 2px;
        border-radius: 12px;
        font-size: 10px;

    }

    main {
        position: relative;

    }

    section {
        /* height: 100vh; */
        width: 60%;
        border-radius: 20px;
        margin: 1px;
        position: relative;
    }

    .bodycenter {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 100%;
        border-radius: 20px;
    }

    .bodysiderigth {
        height: 100%;
        width: 12%;
        /* background-color: darkcyan; */
        position: fixed;
        right: 50px;
        top: 180px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .bodysiderigth span {
        padding: 1px;
        display: block;
        height: 50px;
        width: 100px;
        background-color: rgb(205, 224, 26);
        text-align: center;
        align-content: center;
        margin-top: 5px;
        border-radius: 12px;
        font-size: 15px;
        font-weight: bolder;
    }

    .titlepic {
        display: flex;
        justify-content: space-between;
    }

   .bodysiderigth {
        height: 100%;
        width: 12%;
        background-color: darkcyan;
        position: fixed;
        right: 50px;
        top: 180px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }















}