@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    font-size: 16px;
    --bgbuttoncolor: rgb(207, 154, 218);

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {

    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    position: relative;

}


.headerall {
    width: 99%;
    background-color: white;
    /* display: flex; */
    /* flex-direction: column; */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 900;
    margin: auto;
}



h1 {
    color: white;
    width: 99%;
    background-color: rgba(17, 20, 206, 0.911);
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 40rem;
    font-style: normal;
    text-align: center;
    padding: 2px;
    border-radius: 25px;
    margin: auto;
    /* animation-name: motion1; */
    /* animation-duration: 3s; */
    /* animation-direction: alternate; */
    /* animation-iteration-count: infinite; */
    /* transition: all 2s; */
}

.headercenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    background-color: white;
    height: 80%;
}

.headerimg1 {
    width: 13%;
}

.headerimg2 {
    width: 65%;
    max-height: 150px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.headerimg3 {
    width: 13%;

}

#headerall ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: white;
    flex-wrap: wrap-reverse;

}

#headerall ul li {

    width: 120px;
    margin: 0px 5px;
    background-color: bisque;
    border-radius: 12px;
    margin-bottom: 5px;
}

#headerall ul li a {
    text-decoration: none;
    text-align: center;
    align-content: center;
    /* padding: 5px; */
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
    width: 100%;
    /* width: 150px; */
    /* margin: 10px; */
    /* padding: 20px; */
}



main {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 300px;

}

#bodyleft {
    padding-top: 5px;
    width: 85%;
    /* background-color: deeppink; */

}

#bodyright {
    width: 14%;
    display: flex;
    padding-top: 5px;
    justify-content: center;
}

#bodyright ul {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    list-style: none;

}

#bodyright ul li {
    margin: 1px;
    width: 150px;
    background-color: bisque;
    border-radius: 12px;
    /* width: 100%; */
}

#bodyright ul li a {
    text-decoration: none;
    text-align: center;
    align-content: center;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
    width: 100%;
    margin: 1px;
}

section {
    /* height: 100vh; */
    width: 99%;
    border-radius: 20px;
    margin: 10px auto;
    position: relative;
    scroll-margin-top: 275px;
    padding: 10px;


}

.section1 {

    background-color: lightblue;

}

.section2 {

    background-color: lightcoral
}

.section3 {

    background-color: lightblue
}

.section4 {

    background-color: lightcoral
}

.section5 {

    background-color: lightblue;
}

.section4 {

    background-color: lightcoral
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}

div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
}

div.scroll-container2 {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container2 img {
    padding: 10px;
    width: 200px;
}

.section5 iframe {
    width: 100%;
    height: 100%;
    /* margin: auto; */
}

h3 {
    text-align: center;
    padding: 15px 5px;
    border: 5px solid black;
    width: 20%;
    margin: 10px auto;
    border-radius: 25px;
}

footer {
    height: 50px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1009;
    position: relative;
    bottom: 0px;
    left: 0px;
    margin: 5px auto;
    padding: 5px;
}

.sectionpic {
    padding: 15px 5px 5px;
    display: block;
    /* box-sizing: border-box; */
    width: 150px;
    height: 150px;
    border-radius: 20PX;
    -webkit-border-radius: 20PX;
    -moz-border-radius: 20PX;
    -ms-border-radius: 20PX;
    -o-border-radius: 20PX;
    float: left;
}



a:hover {
    background-color: cornflowerblue;
    opacity: .8;
    border-radius: 12px;
    transform: scale(1.1);
}






i {
    font-size: 20px;
    background-color: #f8f0f0;
    color: red;
    height: 30px;
    width: 30px;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

footer a {
    /* background-color: black; */
    height: 35px;
    width: 35px;
    text-align: center;
    align-content: center;
}



@keyframes motion1 {
    0% {
        transform: translateY(5px);
    }

    10% {
        transform: translatex(5px);
    }

    20% {
        transform: translateY(5px);
    }

    30% {
        transform: translatex(5px);
    }

    40% {
        transform: translateY(5px);
    }

    50% {
        transform: translatex(5px);
    }

    60% {
        transform: translateY(5px);
    }
}







@media(max-width:375px) {

    h1 {
        font-family: "Noto Kufi Arabic", sans-serif;
        /* font-optical-sizing: auto; */
        font-weight: 15px;
        font-style: normal;
        font-size: 15px;
    }

    .headerimg1 {
        display: none;
    }

    .headerimg3 {
        display: none;

    }

    .headerimg2 {
        margin: auto;
        padding-bottom: 5px;
        width: 90%;
        max-height: 150px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .headercenter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        background-color: white;
        height: 80%;
    }

    h3 {
        text-align: center;
        padding: 5px 2px;
        border: 1px solid black;
        width: 40%;
        margin: 5px auto;
        border-radius: 25px;
    }

    .sectionpic {
        padding: 1px;
        /* display: inline; */
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        border-radius: 20PX;
        -webkit-border-radius: 20PX;
        -moz-border-radius: 20PX;
        -ms-border-radius: 20PX;
        -o-border-radius: 20PX;
    }

    .headercenter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
        /* background-color: blueviolet; */
        height: 50px;
    }

    .headerimg1 {
        display: none;

    }

    .headerimg2 {
        width: 100%;
        height: 50px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .headerimg3 {
        display: none;

    }

    .headerdown {
        /* background-color: blanchedalmond; */
        height: 10px;
        margin-top: 30px;
        flex-wrap: wrap-reverse;
    }

    .headerdown span {
        height: 15px;
        width: 45px;
        background-color: bisque;
        border-radius: 7px;
        font-size: 8px;

    }

    a {
        margin: 1px;
        font-size: 10px;
        font-weight: 10px;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: 300px;



    }

    section {
        /* height: 100vh; */
        width: 100%;
        margin: auto;
        border-radius: 20px;
        margin: 1px;
        position: relative;
        scroll-margin-top: 220px;
    }


    #bodyright {

        display: none;

    }

    #bodyleft {
        padding-top: 5px;
        width: 100%;
        /* background-color: deeppink; */
    }

    #bodyright ul {
        display: none;
        position: static;

    }

    .section5 iframe {
        width: 250px;
        height: 300px;
        /* margin: auto; */
        object-fit: fill;
    }







}











/* display 500 */
@media(max-width:10px) {


    .headerall {
        max-width: 500px;
        position: relative;
        margin: auto;
    }

    .headerup {
        max-width: 500px;
        padding: 1px;
        margin: 1px;
    }

    h1 {
        font-family: "Noto Kufi Arabic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .headercenter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        /* background-color: blueviolet; */
        height: 80px;
    }

    .headerimg1 {
        width: 15%;
        margin-left: 50px;

    }

    .headerimg2 {
        width: 65%;
        height: 80px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .headerimg3 {
        width: 15%;
        /* padding-bottom: 10px; */
        height: 80px;
        margin-right: 50px;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .headerdown {
        /* background-color: blanchedalmond; */
        height: 30px;
        margin-top: 5px;

    }

    .headerdown span {

        width: 70px;
        background-color: bisque;
        text-align: center;
        align-content: center;
        margin: 2px;
        border-radius: 12px;
        font-size: 10px;

    }

    main {
        position: relative;

    }

    section {
        /* height: 100vh; */
        width: 1000%;
        border-radius: 20px;
        margin: 1px;
        position: relative;
    }

    .bodycenter {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 100%;
        border-radius: 20px;
    }

    .bodysiderigth {
        height: 100%;
        width: 12%;
        /* background-color: darkcyan; */
        position: fixed;
        right: 50px;
        top: 180px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .bodysiderigth span {
        padding: 1px;
        display: block;
        height: 50px;
        width: 100px;
        background-color: rgb(205, 224, 26);
        text-align: center;
        align-content: center;
        margin-top: 5px;
        border-radius: 12px;
        font-size: 15px;
        font-weight: bolder;
    }

    .titlepic {
        display: flex;
        justify-content: space-between;
    }

    .bodysiderigth {
        height: 100%;
        width: 12%;
        background-color: darkcyan;
        position: fixed;
        right: 50px;
        top: 180px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
}