.container {
    /* background-color: rgb(154, 219, 228); */
    height: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 45px) 1fr repeat(5, 45px);
    grid-template-rows: repeat(5, 45px) 3000px repeat(5, 45px);
    border-radius: 12px;
}

.container div {
    /* padding: 5px; */
    margin: 1px;
    border-radius: 12px;
}

.headerall {

    grid-row: 1/6;
    grid-column: 1/11;
    z-index: 1;
    /* border-radius: 12px; */

}

.headerdown span {
    display: inline-block;
    height: 80%;
    width: 100px;
    background-color: bisque;
    text-align: center;
    align-content: center;
    margin: 2px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}

.bodysideR span {
    padding: 1px;
    display: block;
    height: 50px;
    width: 99%;
    background-color: rgb(205, 224, 26);
    text-align: center;
    align-content: center;
    margin: 2px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}

.headercenter {
    grid-row: 2/5;
    grid-column: 6/7;
    /* background-color: blue; */
    background-image: url(tdc2.jpg);
    background-size: contain;
    background-repeat: repeat-x;
    padding: 10px;
    /* border-radius: 12px; */

}

.headerup {
    grid-row: 1/1;
    grid-column: 6/7;
    text-align: center;
    align-content: end;
    /* background-color: blue; */
    /* background-image: url(Untitled.png); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* box-sizing: border-box; */
    /* background-image: url(tdc2.jpg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* position: relative; */
    /* left: 30%; */
    margin-bottom: 20px;
    position: relative;
    bottom: 15px;
    left: 10px;

}

.headerdown {
    grid-row: 5/6;
    grid-column: 6/7;
    /* background-color: blue; */
    /* background-image: url(tdc2.jpg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* position: relative; */
    /* left: 30%; */
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerlogL {
    background-image: url(edu.jfif);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: blueviolet; */
    grid-row: 1/6;
    grid-column: 1/6;
    z-index: 2;
    border-radius: 12px;
}

.headerlogR {
    background-image: url(behera.png);
    background-size: cover;
    /* background-color: blueviolet; */
    grid-row: 1/6;
    grid-column: 7/12;
    border-radius: 12px;
}

.header {
    /* background-color: rgb(221, 219, 205); */
    grid-row: 1/6;
    grid-column: 6/7;
    border-radius: 12px;
}

.body {
    background-color: antiquewhite;
    grid-row: 6/11;
    grid-column: 5/8;
    border-radius: 12px;
}

.footer {
    background-color: rgb(192, 59, 81);
    grid-row: 11/13;
    grid-column: 1/13;
    border-radius: 12px;

}

.bodysideL {
    background-color: rgb(227, 230, 63);
    grid-row: 6/11;
    grid-column: 1/5;
    border-radius: 12px;
}

.bodysideR {
    /* background-color: rgb(227, 230, 63); */
    grid-row: 6/11;
    grid-column: 8/13;
    border-radius: 12px;
}

.title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.parent {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: aliceblue;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.parent div {
    width: 450px;
    height: 400px;
    background-color: rgb(165, 224, 226);
    color: rgb(10, 10, 10);
    border: 2px solid black;
    border-radius: 8px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 5px;
}

img {
    width: 100%;
    height: 100%;
}

.mypic {
    padding: 5px;
    display: inline;
    width: 100px;
    height: 100px;
    border-radius: 20PX;
    -webkit-border-radius: 20PX;
    -moz-border-radius: 20PX;
    -ms-border-radius: 20PX;
    -o-border-radius: 20PX;
}