@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
    width: 90%;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    /* display: flex; */
}

.headerall {
    width: 100%;
    background-color: #f7fdfd;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 900;
    margin: auto;
}

.headerup {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: auto;

}

.headerup h1 {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    /* margin-top: auto; */
}

.headercenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: blueviolet; */
    height: 150px;
}

.headerimg {
    width: 150px;

}

.headerimg3 {
    width: 150px;
    /* padding-bottom: 10px; */

}

.headerimg2 {
    width: 65%;
    height: 150px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.headerdown {
    /* background-color: blanchedalmond; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.body {
    width: 100%;
    display: flex;
    position: absolute;
    top: 300px;
}

.headerdown span {
    display: inline-block;
    /* height: 80%; */
    width: 120px;
    background-color: bisque;
    text-align: center;
    align-content: center;
    margin: 2px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}

.bodycenter {
    width: 80%;
}

.bodysideR span {
    padding: 1px;
    display: block;
    height: 50px;
    width: 190px;
    background-color: rgb(205, 224, 26);
    text-align: center;
    align-content: center;
    margin-top: 5px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}

.footer {
    background-color: rgb(192, 59, 81);
    grid-row: 11/13;
    grid-column: 1/13;
    border-radius: 12px;

}



.bodysideR {
    height: 100%;
    width: 15%;
    background-color: darkcyan;
    position: fixed;
    right: 50px;
    top: 300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.bodycenter {
    display: flex;
    flex-direction: column;
}

.titlepic {
    display: flex;
    justify-content: space-evenly;
}

.textabout {
    text-align: justify;
    line-height: 30px;
    justify-content: center;
    text-justify: inter-word;
    padding: 20px;
}

.home {
    background-color: darkgoldenrod;
    width: 90%;
    position: absolute;
}

.title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}



.mypic {
    padding: 5px;
    /* display: inline; */
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 20PX;
    -webkit-border-radius: 20PX;
    -moz-border-radius: 20PX;
    -ms-border-radius: 20PX;
    -o-border-radius: 20PX;
}