@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: all 1.8s;
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
}

body {
    width: 100%;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    /* displa??y: flex; */
    /* flex-d?irection: column; */
    position: relative;
}


.headerall {
    width: 100%;
    background-color: #f7fdfd;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 900;
    margin: auto;
}

.headerup {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

h1 {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    /* margin-top: auto; */
}

.headercenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: blueviolet; */
    height: 150px;
}

.headerimg {
    width: 150px;
    margin-left: 50px;

}

.headerimg3 {
    width: 150px;
    /* padding-bottom: 10px; */
    margin-right: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.headerimg2 {
    width: 65%;
    height: 150px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.headerdown {
    /* background-color: blanchedalmond; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerdown span {
    /* display: inline-block; */
    /* height: 80%; */
    width: 120px;
    /* background-color: bisque; */
    text-align: center;
    align-content: center;
    margin: 2px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.section1 {
    height: 100vh;
    width: 80%;
    background-color: lightpink;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodycenter {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    position: relative;
    top: 50px;
}

.titlepic {
    display: flex;
    flex-direction: row;
}

.bodysideR {
    height: 100%;
    width: 15%;
    background-color: darkcyan;
    position: fixed;
    right: 50px;
    top: 270px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.bodysideR span {
    padding: 1px;
    display: block;
    height: 50px;
    width: 190px;
    background-color: rgb(205, 224, 26);
    text-align: center;
    align-content: center;
    margin-top: 5px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}





.titlepic {
    display: flex;
    justify-content: space-evenly;
}

.textabout {
    text-align: justify;
    line-height: 30px;
    justify-content: center;
    text-justify: inter-word;
    padding: 20px;
}


iframe {
    height: 100vh;
    width: 80%;
    margin: auto;

}

footer {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
}

.mypic {
    padding: 5px;
    /* display: inline; */
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 20PX;
    -webkit-border-radius: 20PX;
    -moz-border-radius: 20PX;
    -ms-border-radius: 20PX;
    -o-border-radius: 20PX;
}

a {
    text-decoration: none;
    background-color: bisque;
    text-align: center;
    align-content: center;
    margin: 2px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
}

a:hover {
    background-color: cornflowerblue;
    opacity: .8;
}


.section2 {
    /* height: 100vh; */
    width: 80%;
    background-color: darkorange;
    position: relative;
    padding-top: 200px;
}

.section3 {
    height: 100vh;
    width: 80%;
    background-color: khaki;
    position: relative;
    padding-top: 200px;
}

.section4 {
    height: 100vh;
    width: 80%;
    background-color: rgb(55, 196, 118);
    position: relative;
    padding-top: 200px;
}

.section5 {
    height: 100vh;
    width: 80%;
    background-color: rgb(92, 62, 228);
    position: relative;
    padding-top: 200px;
}

footer {
    width: 80%;

}